---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Tiago Carrelage - Demande de contact" titlePage="Demande de devis / renseignments">
    <form>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom :</label>
                <input type="text" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
            </div>
            <div>
                <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom de famille</label>
                <input type="text" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Smith" required>
            </div>
            <div>
                <label for="numberPhone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numéro de téléphone :</label>
                <input type="tel" id="numberPhone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0612345678" pattern="^(\+33|0|0033)[1-9]\d{8}$" required>
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse email :</label>
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="monadressemail@mail.fr" required>
            </div>
        </div>
        <div class="mb-6">
            <label for="info" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Informations complémentaires :</label>
            <textarea id="info" placeholder="Je cherche un carreleur pour faire..." class="block h-72 w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <section class="flex justify-center">
            <button type="submit" class="text-white text-center bottom-2.5 bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-600 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Envoyer le formulaire</button>
        </section>
    </form>
</Layout>