---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Tiago Carrelage - Extérieur" titlePage="Réalisation de carrelage extérieur">
    <h2 class="text-xl my-3">Nos réalisations d'extérieur</h2>
    <section class="my-5">
        <h3 class="ml-4 mb-3">Prestations de terrasse</h3>
        <Carousel />
    </section>
    <section class="my-5">
        <h3 class="ml-4 mb-3 mt-5">Prestations de parterre de jardins</h3>
        <Carousel />
    </section>
    <section class="my-5 pb-8">
        <h3 class="ml-4 mb-3 mt-5">Prestations de piscine</h3>
        <Carousel />
    </section>
</Layout>