---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Tiago Carrelage - Extérieur" titlePage="Réalisation de carrelage extérieur (terrasse, parterre de jardins & piscine)">
    <h2 class="ml-10">Nos réalisations d'extérieur</h2>
    <h3 class="ml-5">Prestations de terrasse</h3>
    <Carousel />
    <h3 class="ml-5">Prestations de parterre de jardins</h3>
    <Carousel />
    <h3 class="ml-5">Prestations de piscine</h3>
    <Carousel />
</Layout>