---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Tiago Carrelage - Extérieur" titlePage="Réalisation de carrelage extérieur (terrasse, parterre de jardins & piscine)">
    <h2>Nos réalisations d'extérieur</h2>
    <h3>Prestations de terrasse</h3>
    <Carousel />
    <h3>Prestations de parterre de jardins</h3>
    <Carousel />
    <h3>Prestations de piscine</h3>
    <Carousel />
</Layout>