---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Tiago Carrelage - Page principal">
	<main>
		<h1>Bienvenu sur le site de <span class="text-gradient">Tiago Carrelage</span></h1>
		<p class="instructions">
			Nous intervenons sur les villes de Bordeaux,
			et son périphérique (Bègles, Pessac, Talence, Villenave d'Ornon...)
			<br /><br/>
			<strong>Travaux :</strong> intérieur, extérieur, sanitaire, mural.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="Intérieur"
				body="Vous retrouverez par ce lien, les différents travaux d'intérieur."
			/>
			<Card
				href="#"
				title="Extérieur"
				body="Vous retrouverez par ce lien, les différents travaux d'extérieur."
			/>
			<Card
				href="#"
				title="Sanitaire"
				body="Vous retrouverez par ce lien, les différents travaux de sanitaire."
			/>
			<Card
				href="#"
				title="Mural"
				body="Vous retrouverez par ce lien, les différents travaux muraux."
			/>
			<Card
				href="#"
				title="Matériaux"
				body="Vous retrouverez par ce lien, les différents matériaux que j'utilise."
			/>
			<Card
				href="/contact"
				title="Coordonnées & Devis"
				body="Vous pouvez me contacter en allant sur ce lien.️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
