---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Tiago Carrelage - Page principal">
	<main class="container mx-auto">
		<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto aut cum illum ipsam libero maxime minima molestias, nam necessitatibus numquam possimus quisquam quo rerum sapiente sint soluta suscipit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores, debitis delectus dignissimos dolorem et exercitationem fugiat impedit ipsa labore laborum minus necessitatibus, obcaecati placeat quas quisquam rerum, saepe.</p>
	</main>
</Layout>
