---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tiago Carrelage - Page principal" titlePage="Tiago Carrelage, carreleur à Bordeaux">
		<h2>Travaux et rénovation de carrelage (intérieur et extérieur) sur la Gironde</h2>
		<section>
			<div>
				<p>
					L'entreprise Tiago Carrelage est situé à Villenave d'Ornon, dans la Gironde.
				</p>
				<p>
					Nous intervenons sur du carrelage intérieure (cuisine, salle de bain...) mais aussi extérieure, nous faisons également des terasses
					en création et rénovation ainsi que des encadrements de piscine.
				</p>
				<p>
					Nous possédons un savoir-faire confirmé et un grand professionnalisme pour vous assurer des travaux de qualité.
				</p>
				<p>
					Nous écoutons votre besoin, et mettons tout en place afin de satisfaire vos demandes.
				</p>
			</div>
			<img src="#" alt="image de prestation en action">
		</section>
	<section>
		<p>Nous souhaitons satisfaire vos demandes, en respectant différents points :</p>
		<ul>
			<li>Accompagnement, expertise et conseil de toutes vos demandes techniques.</li>
			<li>Confection de devis correspondant à votre demande exacte et vous expliquez ces différents aspects.</li>
			<li>Orientation vers des artisans respectueux et efficaces de d’autres domaines afin que votre chantier soit complet.</li>
			<li>Utilisation de matériels de très bonnes qualités.</li>
			<li>Mise en place d’un relationnel de proximité.</li>
			<li>Respect des délais convenus lors de la création du devis.</li>
		</ul>
	</section>
</Layout>
