---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Tiago Carrelage - Intérieur" titlePage="Réalisation de carrelage intérieur (sol & faïence)">
<h2>Nos réalisations d'intérieur</h2>
    <h3>Prestations de cuisine</h3>
    <Carousel />
    <h3>Prestations de sol</h3>
    <Carousel />
    <h3>Prestations de faïences</h3>
    <Carousel />
</Layout>
