---

import Layout from "../layouts/Layout.astro";---

<Layout>
    Tiago Carrelage est basée à Villenave et exerce sur Bordeaux et ses alentours.

    <p>
        Artisan carreleur sur la Gironde depuis quelques années, m’ont apporté une expérience et un savoir-faire remarquable.
        Ces points me permettront de vous accompagner sur vos projets et vous apportez tous les conseils nécessaires.
    </p>
    <p>Notre objectif principal est d’effectuer un travail de qualité et soigné, mais aussi la satisfaction client.</p>
    <p>Nous faisons plusieurs types de réalisations, en neuf et rénovation :</p>

    <p>Salle de bains</p>
    <!-- Image + lien -->

    <p>Terrasses et Carrelage extérieur (entourage de piscine ou parterre de jardins)</p>
    <!-- Image + lien -->

    <p>Et de la faïence ou du carrelage intérieur (cuisine et sol)</p>
    <!-- Image + lien -->

</Layout>