---

import Layout from "../layouts/Layout.astro";---

<Layout title="Tiago Carrelage - Quelques réalisations" titlePage="Quelques réalisations de la société Tiago Carrelage">
    Tiago Carrelage est basée à Villenave d'Ornon et exerce sur Bordeaux et ses alentours.

    <p>
        Artisan carreleur sur la Gironde depuis quelques années, nous ont apporté une expérience et un savoir-faire remarquable.
        Ces points nous permettront de vous accompagner sur vos projets et vous apportez tous les conseils nécessaires.
    </p>
    <p>Notre objectif principal est d’effectuer un travail de qualité et soigné, mais aussi la satisfaction client.</p>
    <p>Nous faisons plusieurs types de réalisations, en neuf et rénovation :</p>

    <div>
        <p>Salle de bains</p>
        <a>
            <img>
        </a>
    </div>

    <div>
        <p>Terrasses et Carrelage extérieur (entourage de piscine ou parterre de jardins)</p>
        <a>
            <img>
        </a>
    </div>
    <!-- Image + lien -->

    <div>
        <p>Et de la faïence ou du carrelage intérieur (cuisine et sol)</p>
        <a>
            <img>
        </a>
    </div>

</Layout>