---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Tiago Carrelage - Salle de bain" titlePage="Réalisation de carrelage salle de bains (douche, bagnoire & vasque)">
    <h2 class="ml-10">Nos réalisations de salle de bains</h2>
    <Carousel />
</Layout>