---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Tiago Carrelage - Salle de bain" titlePage="Réalisation de carrelage salle de bain">
    <h2 class="text-xl my-3">Nos réalisations de salle de bains</h2>
    <section class="my-5">
        <h3 class="ml-4 mb-3">Prestations de salle de bain</h3>
        <Carousel />
    </section>
</Layout>