---

import Card from "./Card.astro";

---

<section>
    <p>Nos différentes prestations</p>
    <div>
        <Card href="/interieur/" title="Intérieur" altImg="image de prestation intérieur" src="#"/>
        <Card href="/exterieur/" title="Extérieur" altImg="image de de prestation extérieur" src="#"/>
        <Card href="/sdb/" title="Salle de bain" altImg="image de prestations de salle de bains" src="#"/>
    </div>
</section>
