---

---

<footer>
    <div class="flex flex-row justify-between items-center mx-10 my-3">
        <div>
            <p>Numéro :</p>
            <p>06.12.34.56.78</p>
        </div>
        <p>Tiago Carrelage</p>
        <div>
            <p>Adresse email :</p>
            <p>toto@toto.fr</p>
        </div>
    </div>
</footer>