---

---

<footer>
    <div class="flex flex-row justify-between items-center px-6 py-8 bg-gray-300">
        <div>
            <p>Numéro : 06.12.34.56.78</p>
        </div>
        <p class="font-bold">Tiago Carrelage</p>
        <div>
            <p>Adresse email : toto@toto.fr</p>
        </div>
    </div>
</footer>