---

---

<header class="bg-gray-100 flex flex-row justify-around top-0 py-5">
    <img src="#" alt="logo" width="100">
    <nav>
        <ul class="flex flex-row justify-around px-3">
            <li>
                <a href="/" class="hover:bg-amber-600 p-3">ACCUEIL</a>
            </li>
            <li>
                <a href="#" class="hover:bg-amber-600 p-3">NOS SERVICES</a>
                <ul>
                    <li>
                        <a href="/carrelage/">Carrelage</a>
                    </li>
                    <li>
                        <a href="/terrasse/">Terrasse</a>
                    </li>
                    <li>
                        <a href="/salle-de-bain/">Salle de bain</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="hover:bg-amber-600 p-3">QUELQUES RÉALISATIONS</a>
            </li>
            <li>
                <a href="#" class="hover:bg-amber-600 p-3">NOUS CONTACTER</a>
                <ul>
                    <li>
                        <a href="/renseignements/">Renseignements</a>
                    </li>
                    <li>
                        <a href="/devis/">Demande de devis</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
