---

---

<header>
    <img src="#" alt="logo" width="100">
    <nav>
        <ul>
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/interieur/">Intérieur</a>
            </li>
            <li>
                <a href="/exterieur/">Extérieur</a>
            </li>
            <li>
                <a href="/sdb/">Salle de bain</a>
            </li>
            <li>
                <a href="/realisations/">Quelques réalisations</a>
            </li>
            <li>
                <a href="/devis/">Devis/Renseignements</a>
            </li>
        </ul>
    </nav>
</header>
