---

---

<header class="bg-gray-100">
        <h1 class="text-center">Tiago <span>Carrelage</span></h1>
        <nav class="flex flex-row justify-center px-5">
            <a href="#" class="hover:bg-amber-600 p-3">ACCUEIL</a>
            <a href="#" class="hover:bg-amber-600 p-3">NOS SERVICES</a>
            <a href="#" class="hover:bg-amber-600 p-3">QUELQUES RÉALISATIONS</a>
            <a href="#" class="hover:bg-amber-600 p-3">NOUS CONTACTER</a>
        </nav>
</header>
